@font-face {
    font-family: 'Heebo-Regular';
    src: url('/src/static/fonts/Heebo/Heebo-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('/src/static/fonts/Heebo/Heebo-Bold.ttf') format('ttf');
    font-weight: 700;
}